.navigation-dropdown {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 46px;
  right: -52px;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.show-text {
  animation: showText 0.3s ease-in-out forwards;
}

.hide-text {
  animation: hideText 0.3s ease-in-out forwards;
}